<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Setup</title>
    <style>
        /* body{
            background-color: rgba(22, 32, 108, 0.982);
            color: white;
        } */
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>

   <h1>We are learning about EJS <%= name %></h1>
   <ul>
    <li> Smart Phone name = <%= product[0].title%> </li>
    <li> Price = <%= product[0].Price%> </li>
   </ul>

</body>
</html>